* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 0;
    width: 100vw;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
}
