/* admin */
.btn-add-admin {
    width: 200px;
}
.enam-dua {
    width: 50px;
    background-color: whitesmoke;
}

/* about page */
.edit-input-image-about {
    width: 375px;
    margin-left: 20px;
}

.label-about-image {
    font-size: 30px !important;
}

.label-about-content {
    font-size: 30px;
}

.btn-save-about-content {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

/* profile */

.profile-input {
    width: 500px;
}

/* course */

/* student-life */
.why-choose-photo {
    border-radius: 50%;
    max-width: 100%;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.why-choose-video {
    max-width: 100%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.student-info-photo {
    display: block;
    max-width: 100%;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
